@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

:root {
  --color-primary: #0f4c75;
  --color-primary-light: #3282b8;
  --color-text: #dee2e6;
  --color-text-dark: #333538;
  --color-background-100: #2d3c44;
  --color-background-500: #32383f;
  --color-background-900: #1b262c;
  --color-red: #fa9884;
  --color-red-dark: #e74646;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
  border-radius: 20px;
  border: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

/* NavBar */

.nav-bar {
  margin: auto;
  max-width: 60rem;
  padding: 1rem 3.2rem;
}

.nav-bar .logo {
  background-color: var(--color-primary-light);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.nav-bar .logo span {
  font-size: 3.2rem;
}

.nav-bar .logo h1 {
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
}

.nav-bar .search-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar .search {
  justify-self: center;
  border: none;
  margin-bottom: 1.5rem;
  padding: 1.1rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: var(--color-primary);
}

.nav-bar .search::placeholder {
  color: var(--color-text);
  filter: brightness(80%);
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}

.nav-bar .search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px) scale(1.03);
}

.nav-bar .search-results {
  font-size: 1.5rem;
}

/* Main */

.main {
  margin-top: 2.4rem;

  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.box {
  width: 70rem;
  max-width: 80rem;
  min-height: 70rem;
  background-color: var(--color-background-100);
  border-radius: 1rem;
  overflow: scroll;
  position: relative;
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.anime-list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: scroll;
  padding-left: 8px;
  

  
}

.loading-anime-list {
  display: flex;
  justify-content: center;
  /* Pusatkan secara horizontal */
  align-items: center;
  /* Pusatkan secara vertikal */
  height: 100vh;
  /* Gunakan tinggi penuh viewport */
  font-size: 2rem;
  font-weight: bold;
}

.loading-details {
  display: flex;
  justify-content: center;
  /* Pusatkan secara horizontal */
  align-items: center;
  /* Pusatkan secara vertikal */
  height: 100vh;
  /* Gunakan tinggi penuh viewport */
  font-size: 2rem;
  font-weight: bold;
}

.no-anime-select {
  display: flex;
  justify-content: center;
  /* Pusatkan secara horizontal */
  align-items: center;
  /* Pusatkan secara vertikal */
  height: 100vh;
  /* Gunakan tinggi penuh viewport */
  font-size: 2rem;
  font-weight: bold;
}

.no-anime {
 display:flex;
  justify-content:center;
  align-items:center;
  Height:  100vh;
  font-size: 2rem;
  font-weight: bold;


}
.anime-detail {
  position: relative;
 
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 3px solid #3e5b6d;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  transition: background 0.4s ease-in;
  cursor: pointer;
 
}

.anime-detail:hover {

  background-color: rgba(0, 149, 255, 0.075);
}

.anime-detail.selected {
  background-color: rgba(0, 150, 255, 0.2); /* Warna latar belakang saat dipilih */
  box-shadow: inset 5px 0 0 #0096ff;

}
.anime-detail img {
  width: 30%;
  
}

.anime-details {
  display: flex;
  align-self: center;
  padding-top: 15rem;


}

.anime-info {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.1rem;
}

.anime-info h2 {
  font-size: 2rem;
  font-weight: bold;

}

.anime-meta {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 1.1rem;
}

.anime-meta strong {
 

}
.heading-anime {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.anime-details img {
  width: 90%;
  height: 90%;
  padding: 10px;

}
.synopsis {
  font-style: italic;
}


/* MEDIA QUERY */

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .box {
    margin: auto;
    width: 40rem;
  }

  .anime-details {
    display: block;
  }

  .anime-details img {
    width: 50%;
    height: 50%;


  }


}

@media (min-width: 100px) {
  .box {
    height: 100px;
  }
}

@media (max-width: 720px) {
  .box {
    height: 100px;
  }

  .anime-details {
    padding-top: 0px;
  }
}